font-face(name)
  @font-face
    font-family: name;
    src: url(fonts_path + name + '/' + name + '.woff2') format('woff2'),
         url(fonts_path + name + '/' + name + '.eot') format('eot'),
         url(fonts_path + name + '/' + name + '.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;